:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* text-align:center; */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-icon{
  width: 25px;
}

h1.header{
  background-color: mediumblue;
  color:white;
  padding: 0 0 0 6px;
}

footer{
  width: 100vw;
  padding:10px;
  position: fixed;
  bottom: 0;
  background-color: mediumblue;
  color:white;
  text-align: center;
}

main ul{
  /* margin: 20% 5%; */
  width:100%;
  list-style: none;
  padding: 0 0.25rem 0.25rem;
}

.item{
  display: flex;
  align-items: center;
  padding: 10px;
  background:rgb(240,240,255);
  margin: 4px;
}

.item input[type="checkbox"]{
  text-align: center;
  width: 28px;
  min-width: 28px;
  height: 28px;
  min-height: 28ox;
  margin: 0 10px;
}

.item>label{
  font-size:0.75rem;
  flex-grow: 1;
}

main>p{
  text-align: center;
  margin-top: 40vh;
}

.addForm{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0.5rem 0;
  padding: 0.25rem 0.5rem;
}

.addForm label{
  position: absolute;
  left: -99999px;
}

.addForm input[type="text"]{
  flex-grow: 1;
  height:25px;
  padding: 0 5px;
  max-width: 370px;
}

.addForm button{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  color: blue;
  margin: 0 0 0 5px;
}

.delete-btn{
  width: 28px;
  min-width: 28px;
}

.delete-btn:hover{
  color: red;
}

.searchForm{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0.5rem 0;
  padding: 0.25rem 0.5rem;
}

.searchForm label{
  position: absolute;
  left: -99999px;
}

.searchForm input[type="text"]{
  flex-grow: 1;
  height:25px;
  padding: 0 5px;
  max-width: 400px;
}